@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #8b0000;
    font-family: 'Poppins', sans-serif;
}

.nav{
    width: 300px;
}

.nav__link{
    color: #303440;
    display: block;
    padding: 15px 0;
    text-decoration: none;
}

.nav__link--inside{
    border-radius: 6px ;
    padding-left: 20px;
    text-align: left;
}

.nav__link--inside:hover{
    background: #F6F8FA;
}

.list{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 16px 16px 0;
    background: orange;
}

.list__item{
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.list__item--click{
    cursor: pointer;
}

.list__button{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.arrow .list__arrow{
    transform: rotate(90deg);
}

.list__arrow{
    margin-left: auto;
    transition: transform .3s;
}

.list__show{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #303440;
    list-style: none;
    transition: height .4s;
    height: 0;
}

.slider{
    position: relative;
    width: 1000px;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
    margin-top: -40%;
    left: 350px;

}
.slides{
    width:500% ;
    height:500px;
    display: flex;
}
.slides input{
    display: none;

}
.slide{
    width: 20%;
    transition: 5s;

}
.slide img{
    width: 100%;
    height: 500px;
}
.nav-manual{
    position: absolute;
    width: 1000px;
    margin-top: -40px;
    display: flex;
    justify-content:center;
}
.manual-btn{
    border: 2px solid #e5e5e5;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
     


}
.manual-btn:not(:last-child){
    margin-right: 40px ;


}
.manual-btn:hover{
    background-color:#e5e5e5 ;

}
#radio1:checked ~ .first{
    margin-left:0 ;

}
#radio2:checked ~ .first{
    margin-left:-20% ;

}
#radio3:checked ~ .first{
    margin-left:-40% ;

}
#radio4:checked ~ .first{
    margin-left:-60% ;

}
.nav-auto{
    position: absolute;
    display: flex;
    width: 1000px;
    justify-content: center;
    margin-top: 460px;
}
.nav-auto div{
    border: 2px solid #e5e5e5;
    padding: 5px;
    border-radius:10px;
    transition:1s ;
}
.nav-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .nav-auto .auto-btn1{
    background-color: #e5e5e5;
}
#radio2:checked ~ .nav-auto .auto-btn2{
    background-color: #e5e5e5;
}#radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #e5e5e5;
}
#radio4:checked ~ .nav-auto .auto-btn4{
    background-color: #e5e5e5;
}
h2{
    background: white;
    border-radius: 5px;
    cursor: pointer;
}